NET "io_led<9>" LOC = P85 | IOSTANDARD = LVTTL;
NET "io_led<19>" LOC = P21 | IOSTANDARD = LVTTL;
NET "io_led<20>" LOC = P22 | IOSTANDARD = LVTTL;


NET "pin_a" LOC = P50 | IOSTANDARD = LVTTL;
NET "pin_b" LOC = P51 | IOSTANDARD = LVTTL;
NET "pin_c" LOC = P40 | IOSTANDARD = LVTTL;
NET "pin_d" LOC = P41 | IOSTANDARD = LVTTL;
NET "pin_e" LOC = P34 | IOSTANDARD = LVTTL;
NET "pin_f" LOC = P35 | IOSTANDARD = LVTTL;
NET "pin_g" LOC = P32 | IOSTANDARD = LVTTL;
NET "pin_h" LOC = P33 | IOSTANDARD = LVTTL;
NET "pin_i" LOC = P29 | IOSTANDARD = LVTTL;
NET "pin_j" LOC = P30 | IOSTANDARD = LVTTL;
NET "pin_k" LOC = P26 | IOSTANDARD = LVTTL;
NET "pin_l" LOC = P23 | IOSTANDARD = LVTTL;
NET "pin_m" LOC = P24 | IOSTANDARD = LVTTL;
NET "pin_n" LOC = P21 | IOSTANDARD = LVTTL;
NET "pin_o" LOC = P22 | IOSTANDARD = LVTTL;
NET "pin_p" LOC = P16 | IOSTANDARD = LVTTL;
NET "pin_q" LOC = P17 | IOSTANDARD = LVTTL;
NET "pin_r" LOC = P14 | IOSTANDARD = LVTTL;
NET "pin_s" LOC = P15 | IOSTANDARD = LVTTL;
NET "pin_t" LOC = P11 | IOSTANDARD = LVTTL;
NET "pin_u" LOC = P12 | IOSTANDARD = LVTTL;
NET "pin_v" LOC = P9 | IOSTANDARD = LVTTL;
NET "pin_1" LOC = P10 | IOSTANDARD = LVTTL;
NET "pin_2" LOC = P7 | IOSTANDARD = LVTTL;
NET "pin_3" LOC = P8 | IOSTANDARD = LVTTL;
NET "pin_4" LOC = P5 | IOSTANDARD = LVTTL;
NET "pin_5" LOC = P6 | IOSTANDARD = LVTTL;
NET "pin_6" LOC = P1 | IOSTANDARD = LVTTL;
NET "pin_7" LOC = P2 | IOSTANDARD = LVTTL;
NET "pin_8" LOC = P143 | IOSTANDARD = LVTTL;
NET "pin_9" LOC = P144 | IOSTANDARD = LVTTL;
NET "pin_10" LOC = P141 | IOSTANDARD = LVTTL;
NET "pin_11" LOC = P139 | IOSTANDARD = LVTTL;
NET "pin_12" LOC = P140 | IOSTANDARD = LVTTL;
NET "pin_13" LOC = P137 | IOSTANDARD = LVTTL;
NET "pin_14" LOC = P138 | IOSTANDARD = LVTTL;
NET "pin_15" LOC = P133 | IOSTANDARD = LVTTL;
NET "pin_16" LOC = P134 | IOSTANDARD = LVTTL;
NET "pin_17" LOC = P131 | IOSTANDARD = LVTTL;
NET "pin_18" LOC = P132 | IOSTANDARD = LVTTL;
NET "pin_19" LOC = P126 | IOSTANDARD = LVTTL;
NET "pin_20" LOC = P127 | IOSTANDARD = LVTTL;
NET "pin_21" LOC = P123 | IOSTANDARD = LVTTL;
NET "pin_22" LOC = P124 | IOSTANDARD = LVTTL;
NET "pin_24" LOC = P58 | IOSTANDARD = LVTTL;
NET "pin_25" LOC = P66 | IOSTANDARD = LVTTL;
NET "pin_26" LOC = P67 | IOSTANDARD = LVTTL;
NET "pin_27" LOC = P74 | IOSTANDARD = LVTTL;
NET "pin_28" LOC = P75 | IOSTANDARD = LVTTL;
NET "pin_29" LOC = P78 | IOSTANDARD = LVTTL;
NET "pin_30" LOC = P79 | IOSTANDARD = LVTTL;
NET "pin_31" LOC = P80 | IOSTANDARD = LVTTL;
NET "pin_32" LOC = P81 | IOSTANDARD = LVTTL;
NET "pin_33" LOC = P82 | IOSTANDARD = LVTTL;
NET "pin_34" LOC = P83 | IOSTANDARD = LVTTL;
NET "pin_35" LOC = P84 | IOSTANDARD = LVTTL;
NET "pin_36" LOC = P85 | IOSTANDARD = LVTTL;
NET "pin_37" LOC = P87 | IOSTANDARD = LVTTL;
NET "pin_38" LOC = P88 | IOSTANDARD = LVTTL;
NET "pin_39" LOC = P92 | IOSTANDARD = LVTTL;
NET "pin_40" LOC = P93 | IOSTANDARD = LVTTL;
NET "pin_41" LOC = P94 | IOSTANDARD = LVTTL;
NET "pin_42" LOC = P95 | IOSTANDARD = LVTTL;
NET "pin_43" LOC = P97 | IOSTANDARD = LVTTL;
NET "pin_44" LOC = P98 | IOSTANDARD = LVTTL;
NET "score_1" LOC = P142 | IOSTANDARD = LVTTL; 
NET "score_2" LOC = P100 | IOSTANDARD = LVTTL; 
NET "score_3" LOC = P101 | IOSTANDARD = LVTTL; 
NET "score_4" LOC = P102 | IOSTANDARD = LVTTL; 
NET "score_5" LOC = P104 | IOSTANDARD = LVTTL; 
NET "score_6" LOC = P105 | IOSTANDARD = LVTTL; 
NET "score_7" LOC = P119 | IOSTANDARD = LVTTL; 
NET "score_8" LOC = P121 | IOSTANDARD = LVTTL; 
NET "score_9" LOC = P120 | IOSTANDARD = LVTTL; 
NET "button4" LOC = P111 | IOSTANDARD = LVTTL | PULLUP;
NET "button3" LOC = P112 | IOSTANDARD = LVTTL | PULLUP;
NET "button2" LOC = P115 | IOSTANDARD = LVTTL | PULLUP;
NET "button1" LOC = P99 | IOSTANDARD = LVTTL | PULLUP;
NET "button5" LOC = P118 | IOSTANDARD = LVTTL | PULLUP;
NET "button6" LOC = P117 | IOSTANDARD = LVTTL | PULLUP;
NET "button7" LOC = P116 | IOSTANDARD = LVTTL | PULLUP;
NET "button8" LOC = P114 | IOSTANDARD = LVTTL | PULLUP;
NET "audio" LOC = P57 | IOSTANDARD = LVTTL;